/*
MADE BY @LAARMFR
*/
@media screen and (min-width:768px){
  .mg_logo {
    position: absolute;
    left: 1%;
    right: auto;
    text-align: center;
    height: 100%; width: 15%; display: block; background-image: url(https://image.noelshack.com/fichiers/2017/46/2/1510657666-mg-logo.png); background-repeat: no-repeat; background-size: 100%, 100%; background-position: center;
  }
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.mg_center {
  text-align: center;
}
.mg_blue {
  color: #2196F3;
}
.top5 {
  margin-top: 5%;
  margin-bottom: 4%;
}
.bgblue {
  background-color: #c6e5ff;
}
.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
  }
  body {
    padding-top: 56px;
    margin-bottom: 5%;
  }
